// sass modules
@use "./style_modules/base";
// @use "./style_modules/loading-screen";


/*
X: <i class="fa fa-times" aria-hidden="true"></i>

O: <i class="fa fa-circle-o" aria-hidden="true"></i>
*/

:root {
    --player-color:#e74c3c;
    --computer-color:#3498db;
}

.app {
    width:800px;
    height:800px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:grid;
    grid-template-rows: 2fr 0.3fr;
}


/*board*/
.board {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap:1rem;
}

.board__piece {
    position: relative;
    background:#dbdbdb;
    width:100%;
    height:100%;
    border-radius: 7px;
    justify-self:center;
    align-self: center;

    i {
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size:12rem;
    }
}

.board__piece:hover {
    filter: contrast(80%);
    cursor: pointer;
}




/*active classes for board piece*/
.board__piece__player--active {
    background-color:var(--player-color);
    color:#fff;
}

.board__piece__computer--active {
    background-color:var(--computer-color);
    color:#fff;
}

.board__piece__player--active:hover,
.board__piece__computer--active:hover {
    filter: contrast(100%);
    cursor: default;
}


/*player score*/
.score-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    font-size:1.5rem;
}

.score-board__score {
    padding:0.5rem;
}

/*active classes*/
.score-board__player--active {
    background-color: var(--player-color);
    color:#fff;
}


.score-board__computer--active {
    background:var(--computer-color);
    color:#fff;
}





/*media queries*/
@media(max-width:830px) {
    .app {
        width:90vw;
        height:90vh;
    }

    .board {
        grid-gap:0.75rem;
    }

    .board__piece {
        i {
            font-size:calc(20vw);
        }
    }
}


@media(max-height:830px) {
    .app {
        width:90vw;
        height:90vh;
    }

    .board {
        grid-gap:0.75rem;
    }

    .board__piece {
        i {
            font-size:calc(15vh);
        }
    }
}


// font
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');
